<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="fas fa-home"></i> Home</a>
      <a class="navbar-brand" href="/task"><i class="fa fa-tasks" aria-hidden="true"></i> Task</a>
      <a class="navbar-brand" href="/list"><i class="fas fa-list"></i> List</a>
      <a class="navbar-brand" href="/Login/Logout"><i class="fas fa-sign-out-alt"></i> LogOut</a>
    </div>
  </nav>
</header>
